<h2>Lista de categorias</h2>

<form [formGroup]="formGroup" (ngSubmit)="save()">
    <input  formControlName="id"/>
    <input id="name" name="name" formControlName="name"/>
    <button type="submit">
        Guardar
    </button>
    <button type="reset">
        Limpiar
    </button>
</form>

<table>
    <thead>
        <tr>
            <th>Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of listCategories">
            <td>{{category.name}}</td>
            <!-- <td>
                <a href="categories/{{category.id}}/subcategories">Ver subcategorias</a>
            </td> -->
            <td>
                <button (click)="edit(category)">Editar</button>
            </td>
            <td>
                <button (click)="delete(category)" type="button">
                    Borrar
                </button>
            </td>
        </tr>
    </tbody>
</table>
