<h2>Periodo {{period.name}}</h2>

<ul>
    <li>{{period.dateStart | date}}</li>
    <li>{{period.dateEnd | date}}</li>
    <li>{{period.total}}</li>
    <li>{{period.totalEntries}}</li>
    <li>{{period.totalExpenses}}</li>
</ul>
<h3>Ingresos</h3>
<form [formGroup]="formEntry" (ngSubmit)="addEntry()">
    <input  formControlName="periodId" type="hidden"/>
    <input formControlName="name"/>
    <input formControlName="amount"/>
    <button type="submit">
        Guardar
    </button>
</form>
<table>
    <tr>        
        <th>Nombre</th>
        <th>Cantidad</th>
        <th></th>
    </tr>
    <tbody>
        <tr *ngFor="let entry of entries">            
            <td>{{entry.name}}</td>
            <td>{{entry.amount | currency}}</td>
            <td>
                <button>Editar</button>
                <button type="button" (click)="deleteEntry(entry)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>

<h3>Gastos</h3>
<form [formGroup]="formExpense" (ngSubmit)="addExpense()">
    <input  formControlName="periodId" type="hidden"/>
    <select formControlName="category" (change)="getSubcategories()">        
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
    </select>
    <select formControlName="subcategoryName" (change)="loadSubcategory()">        
        <option *ngFor="let subcategory of subcategories" value="{{subcategory.name}}">{{subcategory.name}}</option>
    </select>
    <input formControlName="name"/>
    <input formControlName="amount"/>
    <button type="submit">
        Guardar
    </button>
</form>
<table>
    <tr>
        <th>Subcategoria</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th></th>
    </tr>
    <tbody>
        <tr *ngFor="let expense of expenses">
            <td>{{expense.subcategoryName}}</td>
            <td>{{expense.name}}</td>
            <td>{{expense.amount}}</td>
            <td>
                <button>Editar</button>
                <button type="button" (click)="deleteExpense(expense)">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>